<div class="footer-container">
    <div class="first-line">    
        <div class="links-container">
            <span>
                <a routerLink="/" class="footer-link">Home</a> &nbsp;
            </span>
            <span>
                <a routerLink="/products" class="footer-link">Products</a> &nbsp;
            </span>
            <span>
                <a routerLink="/contact" class="footer-link">Contact</a> &nbsp;
            </span>
            <span>
                <a routerLink="/cart" class="footer-link">Cart</a> &nbsp;
            </span>
            <span>
                <a routerLink="/add" class="footer-link">Add Product</a> &nbsp;
            </span>
            <span>
                <a routerLink="/modify" class="footer-link">Modify Product</a> &nbsp;
            </span>
        </div>
        <div class="contact-container">
            <a href="mailto:samplemail@sample.com" class="footer-link">samplemail@sample.com</a>
        </div>
    </div>

    <div class="copyright">
        © {{year}} Coffee Products Inc. All rights reserved
    </div>

    <div class="copyright">
        Made by<a href="#" class="footer-link">Mohit</a>
    </div>
    
</div>