<div class="contact-container">
    <div class="contact-content">You Love Coffee,
        <br>
        We love both, Coffee and You.
        <br>
        <div class="ruler"></div>
        
        Feel Free To Contact Us 

        <div class="ruler"></div>
        <div>
            <a class="contact-number" href="tel:+919999900000">+91 9999900000 </a> <strong>|</strong> <a class="contact-number" href="tel:+919999900000"> +91 9000000001</a>
        </div>

        <div>
            <a class="contact-mail" href="mailto:samplemail@sample.com">samplemail@sample.com</a>
        </div>
    </div>
    
</div>
