<div class="hero-container">
    <div class="hero-space"><img src="../../assets/pexels-chevanon-photography-333523.jpg" width="100%" alt=""></div>
    <div class="hero-content">The Coffee That <br> GETS YOU <br> GOING !!!</div>
</div>

<div class="home-quote-container">
    <div class="home-quote-content">
        We are here to bring you that Delightful cup of Love!
    </div>
</div>

<div class="product-button-container">
    <div class="home-product-container">Checkout Our &nbsp;
        <!-- <span style="color: turquoise;">Products</span> -->
    </div>
    <div class="product-button" routerLink="/products">Products</div>
    
</div>